<div class="users">
  <div class="container">
    <div class="col-sm-11">
      <h1>Create user</h1>
    </div>
    <div class="col-sm-1">
      <h1> <%= link_to 'Back', users_path, :class => 'btn btn-primary' %></h1>
    </div>
  </div>

  <div class="container">
    <div class="form">

      <%= render 'form' %>

    </div>
  </div>
</div>